.buttonContainer{
  cursor: pointer;
  font-size: 1.25rem;
  background-color: var(--button-background-color);
  border: none;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.size-2{
  grid-row-end: span 2;
}